.itinerary-section{
    justify-content: center;
    padding: 12rem 5rem 4rem;
   background-color:rgba(255, 228, 196, 0.667);
   max-width: 6000px;
   align-items: center;
}
.itinerary-section h2{
    font-size: 4rem;
    font-family: Gill Sans;
    text-align: center;
    margin-bottom: 20px;
}
.cards {
    /*display: flex;
    gap: 1rem;
    flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content:center;
    margin-bottom: 1rem;
    margin-left: -200px;
  }
  
  .card {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 400px;
    margin-left: 170px;
  }
  .card:hover{
    background-color: peachpuff;
  }
  .card h3{
    text-align: start;
    font-size: 20px;
    color: black;
    margin-left: 6px;
  }
  .card li{
    font-size: 20px;
    margin: 20px;
    color:rgba(0, 0, 0, 0.741);
    list-style-position: inside;
  }
  .btn-book {
    padding: 0.5rem 1rem;
    background-color:rgb(172, 34, 40);
    color:white;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem auto 0;
    display: block;
  }
  
  
  @media (max-width: 768px) {
   
   
    .itinerary-section h2{
        font-size: 3rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content:center;
        margin-bottom: 1rem;
        margin-left: -200px;
      }
      
      .card {
        width: 300px;
        margin-left: 170px;
      }
      
      .card h3{
        text-align: start;
        font-size: 18px;
      }
      .card li{
        font-size: 12px;
        margin: 20px;
        color:rgba(0, 0, 0, 0.741);
        list-style-position: inside;
        text-align: start;
      }
      
    }